<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadein">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, assumenda, voluptatibus. Deserunt ea itaque omnis reiciendis rerum. Accusantium debitis dolore doloribus fugiat non recusandae unde? Error libero qui sit vitae!
</p>
