<div class="card">
  <img src="" [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
  <div class="card-body">
    <h5 class="card-title">{{ heroe.nombre }}</h5>
    <p class="card-text">{{ heroe.bio }}</p>
    <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

    <button type="button" (click)="verHeroe(i)" class="btn btn-outline-primary btn-block">Ver mas...</button>
  </div>
</div>
