<h1>Buscador <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12" *ngIf="heroes == 0">
      <div class="alert alert-info">
        No existe ningun heroe con este termino: {{ termino }}
      </div>
  </div>
</div>

<div class="card-columns">

    <app-search-tarjeta [index]="i" [heroe]="heroe" *ngFor="let heroe of heroes; let i = index"></app-search-tarjeta>

</div>
