<h1 class="animated fadeIn">{{ heroe.nombre | uppercase }}</h1>(<small>{{ heroe.aparicion | date:'y' }}</small>)
<hr>

<div class="row animated fadeIn fast">

  <div class="col-md-4">

    <img [src]="heroe.img" class="img-fluid">
    <br><br>
    <a href="" routerLink="/heroes" class="btn btn-outline-danger btn-block">Regresar</a>

  </div>

  <div class="col-md-8">
    <h3>{{ heroe.nombre }}</h3>
    <hr>
    <p>
      {{ heroe.bio }}
    </p>
    <div>
        <img src="assets/img/dc-logo.jpg" alt="" *ngIf="heroe.casa == 'DC'">
        <img src="assets/img/marvel-logo.png" alt="" *ngIf="heroe.casa == 'Marvel'">
    </div>
  </div>

</div>
